{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script src='{% static "story8.js" %}'></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
          $( ".accordion" ).accordion();
        } );
        </script>
    

    <link rel='stylesheet' href='{% static "story8.css" %}' />
    
    <title>my activity.</title>
</head>

<body theme="Terang" name="body">
    <div class="row">
        <div class="col">
            <h2>Halo! Saya Fariz Habibie</h2>
        </div>
        <div class="col background-ganti-warna">
            <div class="titik" id="tema1" name="tema1"><a id="tema1" class="titik1">.</a></div>
            <div class="titik" id="tema2" name="tema2"><a id="tema2" class='titik2'>.</a></div>
        </div>
    </div>

    <p class="description">
        Berikut adalah deskripsi kecil mengenai saya.
    </p>
    
    <ul class="accordion">
        <li id="firstAcc">
            <a id = "firstValue" class="toggle" href="javascript:void(0);" name="toggle1">Aktivitas Saat Ini<button id='atasFirst' style ='margin-left: 4vw;'>^</button><button id="bawahFirst">V</button></a>
            <ul class="inner">
                <div id = "isiSatu">
                    <li>- Kuliah Semester 2 dengan 23 SKS</li>
                    <li>- Panitia COMPFEST 12 sebagai staf Direct Marketing</li>
                    <li>- Panitia Perak sebagai staf HRD divisi Event</li>
                    <li>- Anggota BEM sebagai staf Biro PSDM</li>
                </div>
            </ul>
        </li>

        <li id="secAcc">
            <a id = "secValue" class="toggle" href="javascript:void(0);" name="toggle2">Pengalaman Kepanitiaan<button id='atasSecond' style ='margin-left: 4vw;'>^</button><button id="bawahSecond">V</button></a>
            <ul class="inner">
                <div id = "isiDua">
                    <li>- Staf Humas dan Publikasi Open House Fasilkom 2019</li>
                    <li>- Master of Ceremonies di acara Wisuda Ganjil 2019/2020</li>
                </div>
            </ul>
        </li>

        <li id="thirdAcc">
            <a id = "thirdValue" class="toggle" href="javascript:void(0);" name="toggle3">Pengalaman Organisasi<button id='atasThird' style ='margin-left: 4vw;'>^</button><button id="bawahThird">V</button></a>
            <ul class="inner">
                <div id = "isiTiga">
                    <li>Tidak ada</li>
                </div>
            </ul>
        </li>
        <li id="fourthAcc">
            <a id = "fourthValue" class="toggle" href="javascript:void(0);" name="toggle4">Prestasi<button id='atasFourth' style ='margin-left: 4vw;'>^</button><button id="bawahFourth">V</button></a>
            <ul class="inner">
                <div id = "isiEmpat">
                    <li>- Champion of Mini Case Competition di COMPFEST X</li>
                </div>
            </ul>
        </li>
    </ul>
    <script src="{% static 'theme.js' %}"></script>
</body>

</html>
