body {
  font-family: Arial;
  background-image: url("/static/bgron.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-area {
  /* margin-top: 7rem; */
}

.form-area h1 {
  font-weight: bold;
}

.preview-area {
  /* margin-top: 7rem; */
}

.container-scrollable {
  max-width: 400px;
  max-height: 400px;
  overflow: auto;
}
