{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'story10.css' %}" />
    <title>Login Page</title>
  </head>
  <body>
    <body>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Login</h1>
            {% if user.is_authenticated == False %}
            <form action="/story9/" method="POST">
              {% csrf_token %} {{ form }}
              <div>don't have an account yet? 
                <a href="register/" name= "register">
                  <p style="margin-bottom: 0;">Register</p>
                </a>
                <button type="submit" name="button-login" class="btn btn-primary">LOGIN</button>
              </div>
            </form>
            {% else %}
            <h3><u>Login Success</u></h3>
            <p>Hello, {{ user.username }}</p>
            <a href="/story9/logout/"><button name="button-logout" class="btn btn-primary">LOGOUT</button></a> {% endif %}
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
